.root {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.h1{
  color: beige;
}
.input{
  width: 100%;
  display: flex;
  justify-content: center;
}
.input input{
  height: 35px;
  width: 60%;
  font-size: 1.5rem;
  padding: 0 1rem;
  outline: none;
  border-radius: 2px;
  border: none;
}
.img {
  width: 200px;
  height: 200px;
  background-image: url(../../assets/bg2.png);
  background-size: cover;
}
