.root {
  position: absolute;
  width: 600px;
  height: 600px;
  overflow: auto;
  padding: 1rem;
   z-index: 2210;
   background-color: #d4b38c;
   cursor: pointer;
color: black;
border-radius:0.8rem;
box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.3);
}
